Config Name	Config Default	Config Range
Reset	FALSE	R[TRUE,FALSE]
Channel	C1	R[C1,C2,C3,C4,C5]
Attenuation	1	1,oo
Vertical Offset	0	0,oo
Voltage Division	0.15	0,oo,0.01
Time Division	5E-4	0,oo
Horizontal Position	0	0,oo
Trigger Level	0.05	0,100
Trigger Slope	POS	R[POS,NEG,WINDOW]
Timeout(s)	600	0,oo
Holdoff	1E-7	0,oo,1E-7