Config Name	Config Default	Config SCPI Config Range
Reset	FALSE	"""*RST"""	[TRUE, FALSE]
Channel	C1	""  [C1, C2, C3, C4, C5]
Attenuation	1	"f""{channel}:ATTN 1"""	[1,oo]
Offset	0	"f""{channel}:OFST {offset}"""	[0,oo]
Voltage Division	10	"f""{channel}:VDIV {vdiv}"""	[0, oo]
Time Division	5E-4	"f""TDIV {tdiv}"""	[0,oo]
Horizontal Position	0	"f""HPOS {hpos}"""	[0,oo]
Trigger Mode	NORM	"f""TRMD {mode}"""	[NORM]