#JupyterLab
*.ipynb_checkpoints

#Virtual Enviornment
*.venv


#Python
__pycache__/

#Binary Files
*.lbl
*.img
*.hdr
*.stl
*.TAB
*.txt
*.xlsx
*csv

#MACOS
*.DS_Store

#MATLAB
*.mlx

#Testing on MacBook
PyTHAGORA/Module4_PlasmaPhysics/rbf_interpolate.py
PyTHAGORA/CourseFlowchart.py

#BeAMED Files
*.log

#other
.vscode